Repository alexvas96/EatCookiesBot: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, docformatter, end-of-file-fixer, autopep8, flake8, check-toml, check-yaml, check-json, pretty-format-json

.pre-commit-config.yaml:

exclude: ^$|venv|messages|setup.py|docs/.*.py
fail_fast: false
repos:
- repo: local
  hooks:
  - id: nitpick
    name: Nitpick
    description: Enforce the same configuration (flake8, isort, mypy etc.) across multiple Python projects
    entry: flake8 --select=NIP
    language: python
    types: [python]
    always_run: true

  - id: check-merge-conflict
    name: Check for merge conflicts
    description: Check for files that contain merge conflict strings.
    entry: check-merge-conflict
    language: python
    stages: [commit, push]

  - id: autoflake
    name: autoflake
    description: Removes unused imports and unused variables as reported by pyflakes
    entry: autoflake
    args: [--in-place, --remove-all-unused-imports, --ignore-init-module-imports]
    language: python
    types: [python]

  - id: isort
    name: isort
    description: isort your imports, so you don't have to
    entry: isort
    language: python
    types: [python]

  - id: docformatter
    name: docformatter
    description: Formats docstrings to follow PEP 257.
    entry: docformatter
    args: [--in-place, --wrap-summaries, '100', --wrap-descriptions, '100']
    language: python
    types: [python]

  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: python
    types: [python]

  - id: autopep8
    name: autopep8
    description: automatically formats Python code to conform to the PEP 8 style guide.
    entry: autopep8
    args: [--in-place]
    language: python
    types: [python]

  - id: flake8
    name: flake8
    description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
    entry: flake8
    language: python
    types: [python]
    require_serial: true

  - id: check-toml
    name: Check Toml
    description: Toml file syntax errors
    entry: check-toml
    language: python
    types: [toml]

  - id: check-yaml
    name: Check YAML
    description: YAML file syntax errors
    entry: check-yaml
    language: python
    types: [yaml]

  - id: check-json
    name: Check JSON
    description: Check JSON files for parseable syntax.
    entry: check-json
    language: python
    types: [json]

  - id: pretty-format-json
    name: Pretty format JSON
    description: Set a standard for formatting JSON files.
    entry: pretty-format-json
    args: [--autofix, --indent, '2', --no-ensure-ascii, --no-sort-keys]
    language: python
    types: [json]

fix docker, add .env example
  .env.example
  docker-compose.yml
Due: check-yaml

fix docker file
  docker-compose.yml
Due: check-yaml

fix docker
  .env.example
Due: none

fix: error when no places data found refactor: tests, envs names chore: tune pre-commit, update deps
  .env.example
  .pre-commit-config.yaml
  dev_requirements.txt
  requirements.txt
  setup.cfg
  src/bot.py
  src/settings.py
  src/tests/mock/poll_votes.py
  src/tests/test_polls_results.py
  src/utils.py
Due: autoflake, isort, docformatter, end-of-file-fixer, autopep8, flake8, check-yaml

add tickets checking service
  .env.example
  src/bot.py
  src/settings.py
  src/tickets.py
Due: autoflake, isort, docformatter, end-of-file-fixer, autopep8, flake8

fix: lunch and random commands when no places data
  src/bot.py
  src/polls.py
  src/utils.py
Due: autoflake, isort, docformatter, end-of-file-fixer, autopep8, flake8
